/* added styling to header element and nav */
header {
  font-family: 'Times New Roman', Times, serif;
  /* looked up how to insert img within header element through w3schools.com */
  background-image: url('./img/header-bg-img.jpg');
  color: white;
  border-radius: 60px;
  justify-content: space-between;
  padding: 35px;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  display: flex;
  font-size: 90%;
}

h1 {
  font-size: 250%;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "copperplate";
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

/* removed underline text from code */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-transform: capitalize;
}

/* animation for nav bar */
nav.shift ul li a {
  position: relative;
  z-index: 1;
  color: white;
}

nav.shift ul li a:hover {
  color: white;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: grey;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.section-style {
  width: 100%;
  margin: 20px auto;
  display: flex;
}

.section-title {
  padding: 20px;
  color: black;
  font-size: 200%;
  width: 33%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: flex-end;
}

.about {
  width: 66%;
  font-size: 90%;
  justify-content: center;
  padding: 15px;
  border-left-style: solid;
  border-left-color: black;
  display: flex;
  align-items: center;
}

.about p {
  flex: 70%;
  padding: 10px;
}

.about img {
  min-width: 200px;
  max-height: 150px;
}

/* made a class to resize my picture */
.image {
  width: 200px;
  height: 200px;
  border-radius: 40px;
  background-image: url('./img/header-bg-img.jpg')
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.work {
    width: 66%;
    font-size: 90%;
    justify-content: center;
    padding: 15px;
    border-left-style: solid;
    border-left-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
.work-examples {
    width: 66%;
  font-size: 90%;
  justify-content: space-evenly;
  padding: 15px;
  border-left-style: solid;
  border-left-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }
  /*set css style for titles in "work"*/
  .title {
    bottom: 20px;
    left: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: black;
}
/*added style specific for "contact"*/
.contact {
  border-left-style: solid;
  border-left-color: black;
  width: 66%;
  display: flex;
  align-items: center;
  padding: 15px;
}

.contact ul {
  background-image: url(./img/header-bg-img.jpg);
  border-radius: 50px;
  flex: 90%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  font-size: 135%;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  height: 125%;
  list-style: none;

}
/* changed flex direction for nav and contact so the contents would'nt get squashed together on smaller screens.
Also adjusted font size for 'work' links to decrease as screen gets smaller*/
@media screen and (max-width: 1150px) {
  nav ul {
    flex-direction: column;
    align-items: flex-end;
  }
  .contact ul {
    flex-direction: column;
    .title {
      font-size: 175%;
    }
  }
}
/* changed flex direction for 'about' and 'work' so they will display vertically on smaller screens*/
@media screen and (max-width: 768px) {
  .work-examples{
  flex-wrap: nowrap;
  flex-direction: column;}
  .about {
    flex-wrap: wrap-reverse;
  }
}